.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark mode style */
/* Dark mode style */
body {
  background-color: #121212;
  color: #e0e0e0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: left;
}

button {
  background-color: #333;
  color: #e0e0e0;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #555;
}

input[type="text"] {
  background-color: #333; /* Input arka plan rengi */
  color: #e0e0e0; /* Yazı rengi */
  border: 1px solid #555; /* Input kenar rengi */
  padding: 10px;
  margin: 5px;
}
